:root {
  --color-primary: hsl(228, 100%, 66%);
  --color-secondary: hsl(228, 22%, 19%);
  --color-tertiary: hsl(227, 22%, 26%);
  --color-bg: #f2f2f2;

  // --layout: 1190px;
  --layout: 1050px;
}
$breakpoints: (
  sm: 45em,
  // 720px
  md: 48em,
  // 768px
  lg: 65em,
  // 1040px
);

$font-weights: (
  regular: 400,
  bold: 700,
);
