@use '../abstracts' as *;
.footer {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 3em;
  align-items: center;
  padding-bottom: 5em;
  @include mq(lg) {
    flex-direction: row;

    justify-content: space-between;
  }
}
