@use '../abstracts' as *;
.bg {
  background-color: var(--color-secondary);
  height: 65rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  @include mq(md) {
    height: 49rem;
  }
  @include mq(lg) {
    height: 32rem;
  }
}
