@use '../abstracts' as *;
.container {
  width: clamp(320px, 90% - 2rem, var(--layout));

  @include mq(35em) {
    width: clamp(320px, 80%, var(--layout));
  }
  margin-inline: auto;
  @include mq(md) {
    width: clamp(320px, 90%, var(--layout));
  }
}
// ver por que la liena 5 no afecta al login, no aplica el 80% que deberia tener
