@use '../abstracts' as *;
.button {
  background-color: var(--color-primary);
  border-radius: 100vw;
  padding: 0.7em 2.5em;
  color: #fff;
  cursor: pointer;
  font-weight: var(--bold);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  &-card {
    color: var(--color-primary);
    background-color: #e6ebff;
  }
}
