@use '../abstracts/' as *;
.card {
  text-align: center;
  display: grid;
  background-color: #fff;
  border-radius: 1em;
  padding: 2em;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  @include mq(lg) {
    grid-template-columns: auto;
    text-align: center;
  }
  &__header {
    font-weight: weight(bold);
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    h2 {
      font-size: 1.2em;
    }
    strong {
      font-size: 3em;
    }
  }
  &__body {
    margin-block: 3.5em 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    @include mq(md) {
      margin-block: 0;
      justify-content: center;
    }
    @include mq(lg) {
      margin-block: 3.5em 2.5em;
    }
  }
  &__footer {
    @include mq(md) {
      justify-self: left;
      padding-block-start: 1.5em;
    }
    @include mq(lg) {
      justify-self: center;
    }
  }
  &--main {
    background-color: var(--color-primary);
    background-image: url(../../public/bg-pattern-pricing.svg);
    background-repeat: no-repeat;
    // background-size: contain;
    background-position: center 109%;
    color: #fff;
    @include mq(md) {
      background-position: -19rem center;
    }
    @include mq(lg) {
      background-position: center 109%;
    }
  }
}
