@use '../abstracts' as *;
.counter {
  font-weight: weight(bold);

  &__title {
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1em;
    @include mq(lg) {
      text-align: left;
    }
    span {
      color: var(--color-primary);
    }
  }
  &__title--variation {
    color: #000;
  }
  &__countdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    text-align: center;
    color: #fff;
    div {
      background-color: var(--color-tertiary);
      border-radius: 0.3em;
      padding: 0.5em 1em;
    }
    p {
      font-size: 2em;
    }
    span {
      font-size: 0.9em;
      color: rgb(139, 139, 139);
    }
  }
  &__countdown--variation {
    @include mq(lg) {
      p {
        font-size: 3em;
      }
    }
    grid-template-columns: repeat(4, 80px);
    justify-content: center;
    @include mq(1023px) {
      grid-template-columns: repeat(4, 90px);

      justify-content: start;
    }

    @include mq(lg) {
      margin: 0;
    }
    color: var(--color-primary);
    div {
      background-color: #e6ebff;
      border-radius: 0.4em;
      padding: 0;
    }
  }
}
