@use '../abstracts/' as *;

.form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  border-radius: 1em;
  margin-inline: auto;

  input,
  select {
    border: none;
    border-bottom: 1px solid rgb(187, 185, 185);
    padding-inline-start: 1em;
    padding-block-end: 1em;
    background-color: transparent;
    outline: none;
  }

  option {
    border-bottom: 1px solid rgb(187, 185, 185);
  }
}
