@use '../abstracts' as *;
.home {
  display: flex;
  flex-flow: column;
  // text-align: center;
  align-items: center;

  @include mq(md) {
    flex-flow: row-reverse;
    // text-align: left;
  }
  &__banner {
    display: flex;
    justify-content: center;

    img {
      width: 50%;
    }
    @include mq(md) {
      justify-content: flex-end;
      align-items: center;
      img {
        width: max(200px, 90%);
      }
    }
  }
  div:where(.home__banner, .home__description) {
    flex-basis: 50%;
  }
  &__description {
    display: grid;
    gap: 1.5em;
    text-align: center;
    @include mq(md) {
      text-align: left;
    }
  }
  &__description--variation {
    margin-bottom: 1.5em;
    @include mq(md) {
      text-align: center;
    }
    @include mq(64em) {
      text-align: left;
    }
  }
  &__title {
    line-height: 1.1;
    font-size: clamp(2rem, 1.4286rem + 2.8571vw, 3.5rem);
    font-weight: weight(bold);
  }
}
